<nav class="topbar clearfix navbar navbar-default navbar-fixed-top" scroll-pos="scrolled" scroll-trigger-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="app-logo clearfix">
    OVS Flows Dashboard
  </a>
  <div class="user-profile clearfix pull-right">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link" href="#">Menu</a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href><i class="fa fa-cog"></i>Settings</a></li>
        <li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>